@import "tailwindcss";
@theme {
  --color-primary: #37d0ec;
  --color-secondary: #fa40b4;
  --color-tetriary: #26024c;
  --color-tetriary-dark: #1d003b;
  --color-fourth: #fff600;

  --font-luckiest-guy: "Luckiest Guy", cursive;
  --font-baloo: "Baloo 2", sans-serif;
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: var(--font-luckiest-guy);
  }
  body {
    font-family: var(--font-baloo);
    line-height: 1.6;
  }
}

@layer components {
  .title {
    @apply text-4xl sm:text-5xl lg:text-7xl mb-4 sm:mb-6 leading-tight;
  }
  .subtitle {
    @apply text-base sm:text-[16px] lg:text-xl max-w-2xl mb-6 sm:mb-8 font-semibold text-white;
  }
  .heading-three {
    @apply text-secondary text-2xl sm:text-3xl;
  }
  .card {
    @apply px-4 sm:px-6 lg:px-8 py-8 sm:py-12 lg:py-20 bg-tetriary-dark border-3 border-black rounded-md duration-200 transition-all hover:translate-y-1.5 hover:translate-x-1.5 cursor-pointer hover:shadow-[0px_0px_0px_rgba(0,0,0,0)];
  }
  .section-overlay-a {
    background: linear-gradient(to bottom, var(--color-tetriary), #95007e);
  }

  .section-overlay-b {
    background: linear-gradient(to top, var(--color-tetriary), #95007e);
  }
  .section-padding {
    @apply pb-44 px-4 sm:px-16;
  }
  .button {
    border: 3px solid black;
    padding: 0.75rem 1.5rem;
    font-size: 16px;
    font-family: var(--font-luckiest-guy);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  @media (min-width: 640px) {
    .button {
      padding: 0.875rem 1.75rem;
      font-size: 18px;
    }
  }
  .button:hover {
    transform: translateY(4px); /* moves the button down */
    transform: translateX(4px); /* moves the button right */
    box-shadow: 1px 1px 0;
  }
  .blue {
    background-color: var(--color-primary);
    box-shadow: 4px 4px 0 var(--color-secondary);
  }
  .red {
    background-color: var(--color-secondary);
    box-shadow: 4px 4px 0 var(--color-primary);
  }
  .yellow {
    background-color: var(--color-fourth);
    box-shadow: 4px 4px 0 var(--color-primary);
  }
  .shadow-pink {
    box-shadow: 6px 6px 0 var(--color-secondary);
  }

  .nav-link {
    position: relative;
    transition: color 0.3s ease;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--color-fourth);
    transition: width 0.3s ease;
  }

  .nav-link:hover {
    color: var(--color-fourth);
  }

  .nav-link:hover::after {
    width: 100%;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(0deg, #2be9eb, #6d66ef);
    -webkit-background-clip: text;
    color: transparent;
  }
}
